body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #111;
    color: white;
}

.classe_h1 {
    color: #f1c40f;
}

.oculto {
    display: none;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}